@media(max-width:768px){

.navbar{

padding:20px;

}

.hero{

padding:20px;

}

.hero h1{

font-size:42px;

}

.hero h3{

font-size:22px;

}

.email-box{

flex-direction:column;

}

.email-box input{

width:100%;

}

.email-box button{

width:100%;

}

.trending,
.features,
.faq,
footer{

padding:30px;

}

.features-container{

grid-template-columns:1fr;

}

.footer-links{

grid-template-columns:1fr;

}

}